*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}

body {
    background-image: linear-gradient(to right, #33ff55, #66ffb8);
}
.dark-mode {
    background-image: linear-gradient(to right, #800080, #ffb6c1);
    
  }
  #main{
      min-height: 10vh;
      padding-bottom: 50px;
      display:flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
  }
  #btn{
      position:fixed;
      top:20px;
      right:20px;
      right: 20px;
      background-color: black;
      padding:10px;
      border:none;
      outline:none;
      border-radius: 5px;
      color:white;
      font-family: cursive;
     
  }
  #btn:hover{
      background-color: white;
      color:black;
      

  }
  .note{
      width:300px;
      background-color: black;
      margin:15px;
      border-radius:10px;
      box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
      overflow:hidden;
      transition:box-shadow 0.3s easae;


  }
  .tool{
      background-color: #222831;
      color: white;
      padding: 5px;
      display: flex;
      justify-content: flex-end;


  }
  .tool i{
      padding:5px;
      cursor: pointer;
      transition: color 0.3 ease;

  }
  .tool i.hover{
      color: #aca1a1;
  }
  .note textarea{
      border:none;
      min-height: 220px;
      resize: none;
      padding: 10px;
      font-size: 16px;
      color: white;
      background-color: transparent;
      font-family: cursive;

  }
  .note textarea:focus{
      outline:none;
  }
  

#theme{
    background-color: black;
    color:white;
    cursor:pointer;
    font-family: cursive;
    border-radius: 7px;
    width: 60px;
    height: 25px;
    margin: 10px;

}

