body {
    background-image: linear-gradient(to right, #800080, #ffb6c1);  
}


.buton{
    position: fixed;
    top:20px;
    right: 20px;
}
#main{
    text-align: center;
    padding-bottom:50px;
    display:flex;
    gap:20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap:wrap-reverse;
}

#btn{
    border-radius: 10%;
    background-color: #800080;
    padding: 8px 20px;
    cursor: pointer;
}
#note{
    width:500px;
    background-color: blue;
    border-radius: 50px;
    color:red;
    
}
.fa-trash{
    
    position: relative;
    left:247px;
    font-size: 27px;
    top:-44px;
    cursor: pointer;
}

#text{
    margin-bottom: 40px;
}
#ima{
    height: 20px;
    width:15px;
    position: relative;
    left:247px;
    font-size: 27px;
    top:-44px;
    cursor: pointer;
    z-index: 5;
    
}
.bbt{
    position: relative;
    left:264px;
    font-size: 27px;
    top:-49px;
    cursor: pointer;

}