body {
    background-image: linear-gradient(to right, #3366ff, #66ccff);
}
.dark-mode {
    background-image: linear-gradient(to right, #800080, #ffb6c1);
    
  }


.buton{
    position: fixed;
    top:20px;
    right: 20px;
}
#main{
    text-align: center;
    padding-bottom:50px;
    display:flex;
    gap:20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap:wrap;
}

#btn{
    border-radius: 10%;
    background-color:black ;
    color:white;
    padding: 8px 20px;
    cursor: pointer;
}
#note{
    width:500px;
    background-color: blue;
    border-radius: 50px;
    color:red;
    
}
.fa-trash{
    
    position: relative;
    left:247px;
    font-size: 20px;
    top:-44px;
    cursor: pointer;
}

#text{
    margin-bottom: 40px;
}
#theme{
    background-color: black;
    color:white;
    cursor:grab;
}
textarea{
    border-width: 3px;
    border-color: #800080;
}

